<strong>
  <p>Olá {{ name }}</p>
</strong>
<p>
  Parabéns! Sua matricula foi realizada com sucesso!
</p>
<p>Segue abaixo informações sobre seu plano:</p>
<strong>Plano: {{ planName }}</strong> <br />
<strong>Periodo contratado: {{ planDuration }} {{ mes }}</strong><br />
<strong>Data de termino: {{date_end}}</strong><br />
<strong>Valor total: {{ price }}</strong><br />
